{%extends 'main.html'%} {% block content%}
<div>
  <h4>Customer Service</h4>
  <h4>What can we help you with today? Please select one.</h4>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Selling</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Buying</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Account</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Shipping and Tracking</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Returns and Refunds</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Billing</a>
  </div>
  {% endblock %}
</div>
